# ---------------------------------------------------------
# Play 11: Enable SSH Password Authentication for All Users
# ---------------------------------------------------------

- name: Enable SSH password authentication for all users and reboot system
  hosts: ec2
  become: yes               # Run tasks with elevated privileges (sudo/root)
  gather_facts: yes         # Gather system facts before executing tasks

  tasks:
    - name: Ensure PasswordAuthentication is enabled in sshd_config
      lineinfile:
        path: /etc/ssh/sshd_config              # SSH daemon config file path
        regexp: '^#?PasswordAuthentication'     # Match line starting with or without '#'
        line: 'PasswordAuthentication yes'      # Set to enable password auth
        state: present
        backrefs: yes
      notify: Restart sshd                       # Restart sshd if this line changes

    - name: Ensure ChallengeResponseAuthentication is disabled (can block password login)
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^#?ChallengeResponseAuthentication'
        line: 'ChallengeResponseAuthentication no'  # Disable challenge-response auth
        state: present
        backrefs: yes
      notify: Restart sshd

    - name: Ensure PAM is enabled for sshd (required for password auth)
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^#?UsePAM'
        line: 'UsePAM yes'                       # Enable PAM for SSH authentication
        state: present
        backrefs: yes
      notify: Restart sshd

    - name: Reboot the server to apply all changes
      reboot:
        reboot_timeout: 300                      # Wait up to 5 minutes for reboot completion
      # The reboot module waits for the host to come back online before continuing

  handlers:
    - name: Restart sshd
      service:
        name: sshd                              # Restart the SSH daemon service
        state: restarted
