---
- name: Validate system requirements
  hosts: ec2
  become: yes
  gather_facts: yes

  tasks:
    - name: Fail if OS is not Ubuntu 22.04
      fail:
        msg: "This playbook only supports Ubuntu 22.04"
      when: not (ansible_distribution == "Ubuntu" and ansible_distribution_version == "22.04")

    - name: Check that CPU is Intel
      shell: lscpu | grep -i "Vendor ID" | grep -i GenuineIntel
      register: intel_cpu_check
      changed_when: false
      failed_when: intel_cpu_check.rc != 0

    - name: Check that NVIDIA GPU is present
      shell: lspci | grep -i nvidia
      register: nvidia_gpu_check
      changed_when: false
      failed_when: nvidia_gpu_check.rc != 0


- name: Install Spack into /apps/spack
  hosts: ec2
  become: yes
  gather_facts: no  # already gathered
  vars:
    app_dir: /apps
    git_repo: "https://github.com/spack/spack.git"

  tasks:
    - name: Create /apps directory
      file:
        path: "{{ app_dir }}"
        state: directory
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: '0755'
      when:
        - hostvars[inventory_hostname].ansible_distribution == "Ubuntu"
        - hostvars[inventory_hostname].ansible_distribution_version == "22.04"
        - hostvars[inventory_hostname].intel_cpu_check.rc == 0
        - hostvars[inventory_hostname].nvidia_gpu_check.rc == 0

    - name: Clone spack repo into /apps/spack if not present
      git:
        repo: "{{ git_repo }}"
        dest: "{{ app_dir }}/spack"
        depth: 2
        update: yes
      become_user: "{{ ansible_user }}"
      when:
        - hostvars[inventory_hostname].ansible_distribution == "Ubuntu"
        - hostvars[inventory_hostname].ansible_distribution_version == "22.04"
        - hostvars[inventory_hostname].intel_cpu_check.rc == 0
        - hostvars[inventory_hostname].nvidia_gpu_check.rc == 0


- name: Create CUDA user group and users
  hosts: ec2
  become: yes
  gather_facts: no
  vars:
    users_to_add:
      - user1
      - user
    default_password: "cudauser"  # change this to a secure password

  tasks:
    - name: Create supergroup 'cudauser'
      group:
        name: cudauser
        state: present
      when:
        - hostvars[inventory_hostname].ansible_distribution == "Ubuntu"
        - hostvars[inventory_hostname].ansible_distribution_version == "22.04"
        - hostvars[inventory_hostname].intel_cpu_check.rc == 0
        - hostvars[inventory_hostname].nvidia_gpu_check.rc == 0

    - name: Create users and add to cudauser group
      user:
        name: "{{ item }}"
        groups: cudauser
        append: yes
        password: "{{ default_password | password_hash('sha512') }}"
        shell: /bin/bash
        state: present
      loop: "{{ users_to_add }}"
      when:
        - hostvars[inventory_hostname].ansible_distribution == "Ubuntu"
        - hostvars[inventory_hostname].ansible_distribution_version == "22.04"
        - hostvars[inventory_hostname].intel_cpu_check.rc == 0
        - hostvars[inventory_hostname].nvidia_gpu_check.rc == 0
